.AnswerGatherer {
  background-color: var(--my-color);
  min-height: 100vh;
}

.AnswerGatherer-form {
  padding: $space-base;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.AnswerGatherer-question {
  font-size: 36px;
  color: $color-white;
  font-weight: bold;
}

.AnswerGatherer-answer {
  font-size: 36px;
  color: $color-white;
}
