.AskQuestion {
  background-color: var(--my-color);
  min-height: 100vh;
}

.AskQuestion-content {
  padding: $space-base;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AskQuestion-answers {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AskQuestion-question {
  font-size: 36px;
  color: $color-white;
  font-weight: bold;
}

.AskQuestion-answer {
  font-size: 36px;
  color: $color-white;
}
