.Authors {
  background-color: var(--chairman-color);
  height: 100vh;
}

.Authors-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Authors-answers {
  padding: $space-base;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Authors-question {
  font-size: 36px;
  color: $color-white;
  font-weight: bold;
  text-transform: uppercase;
}

.Authors-answer {
  font-size: 36px;
  color: $color-white;
}
