.Game {
  position: relative;
  height: 100%;
  background-color: var(--my-color);
  --chairman-color: $color-blue;
}

.Game.home {
  --my-color: $color-pink;
}

.Game.player0 {
  --my-color: $color-blue;
}

.Game.player1 {
  --my-color: $color-orange;
}

.Game.player2 {
  --my-color: $color-pink;
}

.Game.player3 {
  --my-color: $color-green;
}
