.Game {
  height: 100%;
  --chairman-color: $color-orange;
}

.Game.player0 {
  --my-color: $color-blue;
}

.Game.player1 {
  --my-color: $color-orange;
}

.Game.player2 {
  --my-color: $color-pink;
}

.Game.player3 {
  --my-color: $color-green;
}
