.Input {
  border-radius: 3px;
  font-size: 20px;

  width: 100%;
  color: $color-white;

  border: none;
  border-bottom: solid 2px $color-white;
  outline: none;
  background-color: transparent;
  padding: $space-small;

  @include placeholder {
    color: $color-white;
  }
}
