.QuestionResult {
  background-color: var(--chairman-color);
  height: 100vh;
}

.QuestionResult-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.QuestionResult-answers {
  padding: $space-base;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.QuestionResult-question {
  font-size: 36px;
  color: $color-white;
  font-weight: bold;
  text-transform: uppercase;
}

.QuestionResult-answer {
  font-size: 36px;
  color: $color-white;
}
