$Text-colors: (
  'white': $color-white,
);

@each $name, $value in $Text-colors {
  .Text.#{$name} {
    color: $value;
  }
}

.Text.title {
  font-size: 36px;
  color: $color-white;
  font-weight: bold;
}

.Text.upper {
  text-transform: uppercase;
}
